.navbar-container {
  position: fixed;
  height: 100px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #fff; /* Adjust based on your theme */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

main {
  margin-top: 80px; /* Adjust based on your Navbar height */
}
